<!DOCTYPE html>
<!--[if lt IE 7]>      
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
   <!--[if IE 7]>         
   <html lang="en" class="no-js lt-ie9 lt-ie8">
      <![endif]-->
      <!--[if IE 8]>         
      <html lang="en" class="no-js lt-ie9">
         <![endif]-->
         <!--[if gt IE 8]><!--> 
         <html lang="en" class="no-js">
            <!--<![endif]-->
            <head>
               <!-- meta charec set -->
               <meta charset="utf-8">
               <!-- Always force latest IE rendering engine or request Chrome Frame -->
               <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
               <!-- Page Title -->
               <title>Find a Videogame</title>
               <!-- Meta Description -->
               <meta name="description" content="Blue One Page Creative HTML5 Template">
               <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
               <meta name="author" content="Muhammad Morshed">
               <!-- Mobile Specific Meta -->
               <meta name="viewport" content="width=device-width, initial-scale=1">
               <!-- Google Font -->
			   <link rel="preconnect" href="https://fonts.googleapis.com"> 
			   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
			   <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
               <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'> -->
               <!-- CSS
                  ================================================== -->
               <!-- Fontawesome Icon font -->
               <link rel="stylesheet" href="/static/css/font-awesome.min.css">
               <!-- Twitter Bootstrap css -->
               <link rel="stylesheet" href="/static/css/bootstrap.min.css">
               <!-- jquery.fancybox  -->
               <link rel="stylesheet" href="/static/css/jquery.fancybox.css">
               <!-- animate -->
               <link rel="stylesheet" href="/static/css/animate.css">
               <!-- Main Stylesheet -->
               <link rel="stylesheet" href="/static/css/main.css">
               <!-- media-queries -->
               <link rel="stylesheet" href="/static/css/media-queries.css">
               <!-- JQuery -->
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
               <!-- Modernizer Script for old Browsers -->
               <script src="/static/js/modernizr-2.6.2.min.js"></script>

			   <script src="/static/js/logic.js"></script>
            </head>
            <body id="body">
               <!-- preloader -->
               <div id="preloader">
                  <img src="/static/img/preloader.gif" alt="Preloader">
               </div>
               <!-- end preloader -->
                     <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-fixed-top navbar">
            <div class="container">
                <div class="navbar-header navbar-collapse">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
                    <a class="navbar-brand navbar-left" href="./">
						<h1 id="logo">
							<img src="" alt="">
						</h1>
					</a>
					<!-- /logo -->
                </div>

				<!-- main page NAVIGATION -->
				<nav class="collapse navbar-collapse" role="navigation">
					<ul id="nav" class="nav navbar-left">
					   <li><a href="/">Home</a></li>

                    </ul>
					</nav>
					
    			<!-- /main nav dropdown -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">    
                        <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
						<ul class="dropdown-menu">
						 <li><a href="./tableau">Tableau</a></li>
						 <li><a href="./generator">Recommendor</a></li>
						 <li><a href="./directory">Directory</a></li>
	 </header>

        <!--
        End Fixed Navigation
        ==================================== -->

			   <style>

				#ABC {
				  background-color: #0a0525;
				  height: 100%;
				  position: absolute;
				  top: 0;
				  left: 0;
				  width: 100%;
				}
			
				body{
				  background: #0a0525;
				  margin: 0;
	
				} 
				
			
				</style>
               <!--
                  End Fixed Navigation
                  ==================================== -->
               <!--
                  Recommendor Section
                  ==================================== -->
               <br></br>
               <section id="model" class="model col-lg-12">
				   <br></br>
				<h1 class="white-text" style="color: white; text-align:center">Video Game Recommendor</h1>
				<br>
				<br>
				<h2 class="white-text" style="color: white; text-align:center">Please visit the Directory for the complete game list</h2>
				</section>
				<section id="model" class="model col-lg-6 col-md-6">
					<div class="card">
					<form class="form-horizontal" id="userForms" autocomplete="off" role="form">
					   <div class="form-group">
					   <label for="Title" class="col-sm-4 control-label" style= "color: white">Game Title</label>
					   <div class="col-sm-4">
						  <div class="autocomplete col-sm-4" style="width:100%">
							 <input id="game" type="text" name="gameTitles" placeholder="start typing...">
						  </div>
						  <br></br>
						  <br></br>
						  <div class="form-group">
							 <div class="col-sm-offset-2 col-sm-4" style="margin-left: inherit;">
								<button style="width: auto !important;" type="button" class="btn btn-lg btn-block" style= "color: white" id="gameSubmit">Get Recommendation</button>
							 </div>
						  </div>
					</form>
					</div> 
					<br> </br>
					<!--
					   End Recommendor section
					   ==================================== -->
				 </section>
			   <section id="model" class="model col-lg-6 col-md-6">
				<div class="card">
				   <form class="form-horizontal" id="userForms" autocomplete="off" role="form">
					  <div class="form-group">
							<label for="critic-score" class="col-sm-4 control-label" style= "color: white">Critic Score:</label>
							   <div class="col-sm-4">
								<input id="score" type="number" placeholder="enter minimum score...">      
						 </div>
					  </div>
					  <!-- <div class="form-group">
						 <label for="ESRB" class="col-sm-4 control-label">ESRB Rating:</label>
						 <div class="col-sm-4">
							<select class="form-control inputstl" id="ESRB">
							   <option>E</option>
							   <option>E10</option>
							   <option>M</option>
							   <option>T</option>
							</select>
						 </div>
					  </div>
					  <div class="form-group">
						 <label for="genre" class="col-sm-4 control-label">Genre:</label>
						 <div class="col-sm-4">
							<select class="form-control inputstl" id="genre">
							   <option>Action</option>
							   <option>Action-Adventure</option>
							   <option>Adventure</option>
							   <option>Board Games</option>
							   <option>Fighting</option>
							   <option>Misc.</option>
							   <option>MMO</option>
							   <option>Music</option>
							   <option>Party</option>
							   <option>Platform</option>
							   <option>Puzzle</option>
							   <option>Racing</option>
							   <option>Role-Playing</option>
							   <option>Sandbox</option>
							   <option>Shooter</option>
							   <option>Simulation</option>
							   <option>Sports</option>
							   <option>Strategy</option>
							</select>
						 </div>
					  </div> -->
					  <div class="form-group">
						 <label for="console" class="col-sm-4 control-label" style= "color: white">Console:</label>
						 <div class="col-sm-4">
							<select class="form-control inputstl" id="platform">
							   <option value="3DS">Nintendo 3DS</option>
							   <!-- <option value="DC">Dreamcast (DC)</option> -->
							   <option value="DS">Nintendo DS</option>
							   <!-- <option value="GB">Gameboy</option> -->
							   <option value="GBA">Gameboy Advance</option>
							   <!-- <option value="GBC">Gameboy Color</option> -->
							   <option value="GC">Gamecube</option>
							   <option value="N64">Nintendo 64</option>
							   <option value="NS">Nintendo Switch</option>
							   <option value="PS">Playstation 1</option>
							   <option value="PS2">Playstation 2</option>
							   <option value="PS3">Playstation 3</option>
							   <option value="PS4">Playstation 4</option>
							   <!-- <option value="PSN">PlayStation Portable (PSN)</option> -->
							   <!-- <option value="PSV">PlayStation Vita (PSV)</option> -->
							   <!-- <option value="SAT">Sega Saturn (SAT)</option> -->
							   <option value="Wii">Wii</option>
							   <option value="WiiU">WiiU</option>
							   <option value="X360">Xbox 360</option>
							   <!-- <option value="XB">Xbox</option> -->
							   <option value="XOne">Xbox One</option>
							</select>
						 </div>
					  </div>
					  <!-- <div class="form-group">
						 <label for="publisher" class="col-sm-4 control-label">Publisher:</label>
						 <div class="col-sm-4">
							<select class="form-control inputstl" id="publisher">
							   <option>2K Games</option>
							   <option>2K Sports</option>
							   <option>2K Sports</option>
							   <option>505 Games</option>
							   <option>989 Studios</option>
							   <option>2K Sports</option>
							   <option>Acclaim Entertainment</option>
							   <option>Activision</option>
							   <option>2K Sports</option>
							   <option>Agetec</option>
							   <option>Askys Games</option>
							   <option>AQ Interactive</option>
							   <option>Arc System Works</option>
							   <option>ASCII Entertainment</option>
							   <option>Atari</option>
							   <option>Atlus</option>
							   <option>Bandai</option>
							   <option>Bandai Namco Entertainment</option>
							   <option>Bandai Namco Entertainment</option>
							   <option>Capcom</option>
							   <option>Blizzard Entertainment</option>
							   <option>CDV Software Entertainment</option>
							   <option>City Interactive</option>
							   <option>Codemasters</option>
							   <option>D3 Publisher</option>
							   <option>Deep Silver</option>
							   <option>Disney Interactive Studios</option>
							   <option>EA Sports</option>
							   <option>Eidos Interactive</option>
							   <option>Electronic Arts</option>
							   <option>Enix</option>
							   <option>Global Star Software</option>
							   <option>GT Interactive</option>
							   <option>Hello Games</option>
							   <option>Hudson Soft</option>
							   <option>Ignition Entertainment</option>
							   <option>JoWood Productions</option>
							   <option>Hudson Soft</option>
							   <option>Kalypso</option>
							   <option>KOEI</option>
							   <option>Koei Tecmo</option>
							   <option>Konami</option>
							   <option>Konami Digital Entertainment</option>
							   <option>LucasArts</option>
							   <option>Marvelous Interactive</option>
							   <option>Maxis</option>
							   <option>Microsoft</option>
							   <option>Microsoft Game Studios</option>
							   <option>Midway Games</option>
							   <option>Mojang</option>
							   <option>Namco</option>
							   </option>
							   <option>Namco Bandai</option>
							   <option>Namco Bandai Games</option>
							   <option>Natsume</option>
							   <option>Nintendo</option>
							   <option>Nippon Ichi Software</option>
							   <option>NIS America</option>
							   <option>Ocean</option>
							   <option>Publisher</option>
							   <option>RedOctane</option>
							   <option>Rockstar Games</option>
							   <option>Sega</option>
							   <option>Sony Computer Entertainment</option>
							   <option>Sony Computer Entertainment America</option>
							   <option>Sony Interactive Entertainment</option>
							   <option>Sony Online Entertainment</option>
							   <option>SouthPeak Interactive</option>
							   <option>Square</option>
							   <option>Square EA</option>
							   <option>Square Enix</option>
							   <option>Taito</option>
							   </option>
							   <option>Take-Two Interactive</option>
							   <option>Tecmo</option>
							   <option>THQ</option>
							   </option>
							   <option>Touchstone</option>
							   <option>Ubisoft</option>
							   </option>
							   <option>Universal Interactive</option>
							   <option>Valve</option>
							   </option>
							   <option>Valve Corporation</option>
							   <option>Warner Bros. Interactive</option>
							   <option>Warner Bros. Interactive Entertainment</option>
							   <option>Working Designs</option>
							   <option>Xseed Games</option>
							</select>
						 </div>
					  </div>
					  <div class="form-group">
						 <label for="year" class="col-sm-4 control-label">Year:</label>
						 <div class="col-sm-4">
							<select class="form-control inputstl" id="year">
							   <option>1995</option>
							   <option>1996</option>
							   <option>1996</option>
							   <option>1997</option>
							   <option>1998</option>
							   <option>1999</option>
							   <option>2000</option>
							   <option>2001</option>
							   <option>2002</option>
							   <option>2003</option>
							   <option>2004</option>
							   <option>2005</option>
							   <option>2006</option>
							   <option>2007</option>
							   <option>2008</option>
							   <option>2009</option>
							   <option>2010</option>
							   <option>2011</option>
							   <option>2012</option>
							   <option>2013</option>
							   <option>2014</option>
							   <option>2015</option>
							   <option>2016</option>
							   <option>2017</option>
							   <option>2018</option>
							</select>
							<br> </br>
						 </div>
					  </div> -->
					  <div class="form-group">
						<div class="col-sm-offset-4 col-sm-4">
						<button style="width: auto !important;" type="button" class="btn btn-lg btn-block" id="other">Get Recommendation</button>
						</div>
						</div>
				   </form>
				   </div> 
				   <br> </br>
				   <!--
					  End Recommendor section
					  ==================================== -->
			 </section>
               <div class="container-fluid">
               <div class="row">
               <div class="col-md-12">
               <table id="output" class="table" style="font-size: initial;" border=1></table>
               </div>
               </div>
               </div>
               <br></br>
               <footer id="footer" class="footer">
               <div class="container">
               <div class="row">
               <img src="/static/img/GitHub-Mark-Light-64px.png" alt="github">
               <a class="btn btn-secondary btn-lg" href="https://github.com/michelleherman13/project-4" role="button">Project Repository</a>			
               </div>
               </div>
               </div>
               <div class="row">
               <div class="col-md-12">
               <p class="copyright text-center">
               Copyright © 2015 <a href="http://themefisher.com/">Themefisher</a>. All rights reserved. Designed & developed by <a href="http://themefisher.com/">Themefisher</a>
               </p>
               </div>
               </div>
               </div>
               </footer>
               <!-- dropdown js script
                  ================================================== -->
               <!-- <script src="bootstrap-autocomplete.min.js"></script> -->
               <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
               <script src="/static/js/titles.js"></script>
               <!-- Essential jQuery Plugins
                  ================================================== -->
               <!-- <script src="bootstrap-autocomplete.min.js"></script> -->
               <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
               <!-- Main jQuery -->
               <script src="/static/js/jquery-1.11.1.min.js"></script>
               <!-- Single Page Nav -->
               <script src="/static/js/jquery.singlePageNav.min.js"></script>
               <!-- Twitter Bootstrap -->
               <script src="/static/js/bootstrap.min.js"></script>
               <!-- jquery.fancybox.pack -->
               <script src="/static/js/jquery.fancybox.pack.js"></script>
               <!-- jquery.mixitup.min -->
               <script src="/static/js/jquery.mixitup.min.js"></script>
               <!-- jquery.parallax -->
               <script src="/static/js/jquery.parallax-1.1.3.js"></script>
               <!-- jquery.countTo -->
               <script src="/static/js/jquery-countTo.js"></script>
               <!-- jquery.appear -->
               <script src="/static/js/jquery.appear.js"></script>
               <!-- jquery easing -->
               <script src="/static/js/jquery.easing.min.js"></script>
               <!-- jquery easing -->
               <script src="/static/js/wow.min.js"></script>
               <script>
                  var wow = new WOW ({
                  	boxClass:     'wow',      // animated element css class (default is wow)
                  	animateClass: 'animated', // animation css class (default is animated)
                  	offset:       120,          // distance to the element when triggering the animation (default is 0)
                  	mobile:       false,       // trigger animations on mobile devices (default is true)
                  	live:         true        // act on asynchronously loaded content (default is true)
                    }
                  );
                  wow.init();
               </script> 
               <!-- Custom Functions -->
               <script src="/static/js/custom.js"></script>
			   
			   <script>
				$(document).ready(function() {
					
					$("#nav").click(function() {
						$("a")[0].click();
					});                            
				});
				</script>
	
               <script type="/static/text/javascript">
                  $(function(){
                  	
                  });
               </script>
            </body>
         </html>